version: '3.8'

services:
  mongodb:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

  app:
    build: .
    ports:
      - "8080:8080"
    volumes:
      - .:/app
      - /app/node_modules
      - ./public/output:/app/public/output
    env_file:
      - .env
    depends_on:
      - mongodb
    environment:
      - DB_HOST=mongodb:27017

volumes:
  mongodb_data:
